section.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    header.masthead hr {
      margin-top: 30px;
      margin-bottom: 30px; }
    header.masthead h1 {
      margin-top: 50px;  
      font-size: 2rem; }
    header.masthead p {
      font-weight: 300; }
    @media (min-width: 768px) {
      header.masthead p {
        font-size: 1.15rem; } }
    @media (min-width: 992px) {
      header.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0; }
        header.masthead h1 {
          font-size: 3rem; } }
    @media (min-width: 1200px) {
      header.masthead h1 {
        font-size: 4rem; } }
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    padding: 30px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
 .form-register {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    padding: 30px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  } 